.env
# Ignorer tous les dossiers target
**/target/
*.jar
*.log

# IDE et fichiers système
.vscode/
.idea/
*.iml
.DS_Store

node_modules/
**/node_modules/
target/
**/target/

# Angular cache
.angular/
**/.angular/
