server:
  port: 8083
  servlet:
    context-path: /

spring:
  application:
    name: air-quality-soap-service

  data:
    mongodb:
      uri: mongodb+srv://eya:airqualityuser@cluster0.fvdg5x9.mongodb.net/
      database: airqualitydb

  profiles:
    active: default

logging:
  level:
    root: INFO
    com.city.airquality: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
  observations:
    key-values:
      application: ${spring.application.name}
  metrics:
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true