apiVersion: apps/v1
kind: Deployment
metadata:
  name: mobility-deployment
  namespace: smartcity
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mobility
  template:
    metadata:
      labels:
        app: mobility
    spec:
      containers:
      - name: mobility
        image: smart_city_platform-mobility:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: mobility-service
  namespace: smartcity
spec:
  selector:
    app: mobility
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
