server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/emergency
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: mypush@02
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
