server:
  port: 8084

spring:
  application:
    name: data-graphql-service
  data:
    mongodb:
      uri: mongodb+srv://eyaboudidah_db_user:graphqluser@graphqldb.eguz5jr.mongodb.net/
      database: smart_city
  graphql:
    graphiql:
      enabled: true
      path: /graphiql
    schema:
      printer:
        enabled: true
    cors:
      allowed-origins: "*"
      allowed-methods: GET,POST
      allowed-headers: "*"

management:
  endpoints:
    web:
      exposure:
        include: health, info


