server:
  port: 8084

spring:
  neo4j:
    uri: ${NEO4J_URI}
    authentication:
      username: ${NEO4J_USERNAME}
      password: ${NEO4J_PASSWORD}
    database: ${NEO4J_DATABASE}

management:
  endpoints:
    web:
      exposure:
        include: health, info
